@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
  position: absolute;
  top: 0;
  z-index: -1;
  padding-top: 5vh;
  background: rgb(138, 135, 255);
  background: linear-gradient(
    90deg,
    rgb(34, 106, 141) 0%,
    rgb(193, 187, 182) 100%
  );
}

.nav-bar {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5vw;
  padding-right: 5vw;

  align-items: center;
}

@media screen and (max-width: 600px) {
  .gradient {
    padding-top: 10vh;
  }
}
